{% load staticfiles %}
<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="es"/>
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}"/>

    <title>{% block title %}ALVISAR Rentas{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">

    <link href="{% static 'css/toastr.css' %}" rel="stylesheet"/>

    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet"/>
    {% block links %}{% endblock %}

    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>

    <script src="{% static 'js/toastr.min.js' %}"></script>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    {% block scripts %}{% endblock %}

    <script type="text/javascript">
        $(function () {
            {% for message in messages %}
                toastr.{{ message.tags }}('{{ message }}');
            {% endfor %}
        });
    </script>

</head>

<body class="">
<div class="page">
    <div class="page-main">
        <div class="header py-4">
            <div class="container">
                <div class="d-flex">
                    <a class="header-brand" href="{% url 'webapp:index' %}">
                        <img src="{% static 'img/favicon.ico' %}" class="header-brand-img" alt="tabler logo"> ALVISAR
                        Rentas
                    </a>

                    <div class="d-flex order-lg-2 ml-auto">
                        <div class="dropdown">
                            <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                                <span class="avatar"></span>
                                    <span class="ml-2 d-none d-lg-block">
                                    <span class="text-default">{{ user }}</span>
                                    <small class="text-muted d-block mt-1">{% now "d/m/Y" %}</small>
                                    </span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <a class="dropdown-item" href="{% url 'logout' %}">
                                    <i class="dropdown-icon fe fe-log-out"></i> Sign out
                                </a>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse"
                       data-target="#headerMenuCollapse">
                        <span class="header-toggler-icon"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg order-lg-first">
                        <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                            <li class="nav-item">
                                <a href="{% url 'webapp:index' %}" class="nav-link menu"><i class="fe fe-home"></i>
                                    Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'webapp:contrato-list' %}" class="nav-link menu"><i
                                        class="fe fe-box"></i>
                                    Contratos</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'webapp:factura-list' %}" class="nav-link menu"><i class="fe fe-book"></i>
                                    CFDIs</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'webapp:pagos-buscar' %}" class="nav-link menu"><i class="fe fe-dollar-sign"></i>
                                    Pagos</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-3 my-md-5">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-auto ml-lg-auto">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <ul class="list-inline list-inline-dots mb-0">
                                <li class="list-inline-item"><a href="#">Manual</a></li>
                                <li class="list-inline-item"><a href="#">Preguntas y Respuestas</a></li>
                            </ul>
                        </div>
                        <div class="col-auto">
                            <a href="http://alvisar.com/" class="btn btn-outline-primary btn-sm">Alvisar</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                    Todos los derechos reservados <a href="mailto:iturrios3063@gmail.com">Ing. Luis Iturrios</a>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>

</html>